<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<title>登录</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/styles/iview.css}" />
<style type="text/css">
.mid{
    position: absolute;
    left: 50%;
    top: 35%;
    width:600px;
    height:100px;
    margin-left:-200px;
    margin-top:-50px;
}
</style>
</head>
<body>
<template id="login">
    <div class="mid">
        <Row>
            <i-col span="24" style="text-align: center;font-size:30px;line-height: 150px;position: relative;left: -110px;">新门店系统</i-col>
        </Row>
        <i-form ref="formInline" :model="formInline" :rules="ruleInline" inline>
            <Form-item prop="user">
                <i-input type="text" v-model="formInline.user" placeholder="Username">
                    <Icon type="ios-person-outline" slot="prepend"></Icon>
                </i-input>
            </Form-item>
            <Form-item prop="password">
                <i-input type="password" v-model="formInline.password" placeholder="Password">
                    <Icon type="ios-locked-outline" slot="prepend"></Icon>
                </i-input>
            </Form-item>
            <Form-item>
                <i-button type="primary" @click="handleSubmit('formInline')">登录</i-button>
            </Form-item>
        </i-form>
    </div>
</template>
<div id="app"><router-view></router-view></div>
<script th:src="@{/js/vue.min.js}"></script>
<script th:src="@{/js/iview.min.js}"></script>
<script th:src="@{/js/vue-router.js}"></script>
<script th:src="@{/js/vue-resource.min.js}"></script>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:inline="javascript">
var login = {
    template: '#login',
    data: function() {
        return {
            visible: false,
            formInline: {
                user: '',
                password: ''
            },
            ruleInline: {
                user: [
                    { required: true, message: '请填写用户名', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: '请填写密码', trigger: 'blur' },
                    { type: 'string', min: 5, message: '密码长度不能小于5位', trigger: 'blur' }
                ]
            }
        }
    },
    methods: {
        handleSubmit: function (name) {
            var that = this;
            this.$refs[name].validate(function(valid){
                if (valid) {
                    var third = that;
                    that.$http.post('/auth',that.formInline,{
                    }).then(function(response){
                        if(response.data.success==true){
                            document.location.href=response.data.data;
                        }else{
                            third.$Message.error(response.data.msg);
                        }
                    }, function(response){
                        third.$Message.error(response.data.msg);
                    })
                } else {
                    that.$Message.error('登录信息验证失败!');
                }
            });
        }
    }
}

var routes = [
    {
        path: '/',
        name: 'login',
        component: login
    }
]

var router = new VueRouter({
    mode: 'history',
    routes: routes
});

var app = new Vue({
    el:'#app',
    router:router
})
</script>
</body>
</html>