<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<title>首页</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style type="text/css">
    body{
        font-family:微软雅黑;
        font-size:14px;
    }
</style>
</head>
<body>
<div>
    top1
</div>

<div layout:fragment="content"></div>

<!-- put the scripts below -->
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<div>
    foot2
</div>
<script th:inline="javascript">
$(function(){
    alert("init1!")
})
</script>
</body>
</html>