<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<title>首页</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/styles/iview.css}" />
<style type="text/css">

</style>
</head>
<body>
<div id="head">
        <i-button type="primary" @click="show">Click me!</i-button>
        <i-button type="primary" @click="goback">退出</i-button>
        <Modal v-model="visible" title="Welcome">欢迎使用 iView</Modal>
</div>
<div layout:fragment="content"></div>
<div id="foot">
    foot
</div>
<script th:src="@{/js/vue.min.js}"></script>
<script th:src="@{/js/iview.min.js}"></script>
<script th:src="@{/js/vue-router.js}"></script>
<script th:src="@{/js/vue-resource.min.js}"></script>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:inline="javascript">
new Vue({
    el: '#head',
    data: {
        visible: false
    },
    methods: {
        show: function () {
            this.visible = true;
        },
        goback: function() {
            history.back(-1);
        }
    }
})
new Vue({
    el: '#foot',
    data: {
        visible: false
    },
    methods: {
        show: function () {
            this.visible = true;
        },
        goback: function() {
            history.back(-1);
        }
    }
})
$(function(){

})
</script>
</body>
</html>